.menu-list {
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-main {
  width: 18rem;
  margin: 10px;
  
}
.header{
  max-width: 100vw;
}


.card {
  border: black 5px solid;
  margin-top: 100px;
}

.main-catalogue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem;
  flex-wrap: wrap;
  object-fit: contain;
  margin-top: 100px;

}


.card-main {
  width: 18rem;
  margin: 1rem;
}

.home-container {
  padding: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ItemListContainer {
  min-height: 90vh;

}

.itemImage {
  width: 300px;
  height: 300px;
}

.textCardItem {
  min-height: 120px;
}